@page  "/topic/{id:Guid}/sessions/"
@using Humanizer
@using InstructorIQ.Core.Extensions
@using InstructorIQ.Core.Security
@model IndexModel
@{
    ViewData["Title"] = $"Sessions for {Model.Entity.Title}"; ;
    ViewData["TopicTitle"] = $" - {Model.Entity.Title}";
    ViewData["TopicTab"] = "Sessions";

    Layout = "_TopicLayout";
}

<div class="list-group list-group-flush">
    @foreach (var item in Model.Items)
    {
        var instructors = new HashSet<string>();
        if (item.LeadInstructorName.HasValue())
        {
            instructors.Add(item.LeadInstructorName);
        }
        foreach (var instructor in item.AdditionalInstructors)
        {
            instructors.Add(instructor.DisplayName);
        }

        <a asp-page="/topic/session/view"
           asp-route-tenant="@Model.TenantRoute"
           asp-route-topicid="@Model.Id"
           asp-route-id="@item.Id"
           title="Edit Session"
           class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    @item.TopicTitle@(item.GroupId.HasValue ? " - " : " ")@item.GroupName
                </h5>
                <div class="d-none d-md-block">
                    <small class="d-block">
                        <strong>@item.StartDate?.ToString("MMMM dd")</strong>
                    </small>
                    <small class="d-block">
                        @item.StartTime?.ToString(@"hh\:mm")@(item.EndTime.HasValue ? " - " : " ")@item.EndTime?.ToString(@"hh\:mm")
                    </small>
                </div>
            </div>
            <div>
                <small class="d-block d-md-none mr-2 mb-1"
                       include-if="@item.StartDate.HasValue">
                    <i class="fas fa-clock"
                       style="width: 14px;"></i>
                    @item.StartDate?.ToString("MMM dd")
                    @item.StartTime?.ToString(@"hh\:mm")@(item.EndTime.HasValue ? " - " : " ")@item.EndTime?.ToString(@"hh\:mm")
                </small>
                <small class="d-block d-md-inline mr-2 mb-1"
                       include-if="@item.LocationId.HasValue">
                    <i class="fas fa-map-marker-alt"
                       style="width: 14px;"></i>
                    @item.LocationName
                </small>
                <small class="d-block d-md-inline mr-2 mb-1"
                       include-if="@instructors.Count > 0">
                    <i class="fas fa-user"
                       style="width: 14px;"></i>
                    <em>@instructors.ToDelimitedString("; ")</em>
                </small>
            </div>
        </a>
    }
</div>

<div class="card-body"
     authorize-policy="@UserPolicies.AdministratorPolicy">
    <div class="col">
        <div class="btn-group">
            <a asp-page="/topic/session/create"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-topicid="@Model.Id"
               title="Create New Session"
               class="btn btn-primary">
                Add Session
            </a>
            <button type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a asp-page="/topic/session/create"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-topicid="@Model.Id"
                   title="Create New Session"
                   class="dropdown-item">
                    Add New Session
                </a>
                <a asp-page="/topic/session/sequence"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Add Sessions for Groups"
                   class="dropdown-item">
                    Add Sessions for Groups
                </a>
                <div class="dropdown-divider"></div>
                <a asp-page="/topic/session/bulk"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Bulk Edit Sessions"
                   class="dropdown-item">
                    Bulk Edit Sessions
                </a>
                <div class="dropdown-divider"></div>
                <a href="#"
                   data-toggle="modal" 
                   data-target="#sessionModal"
                   title="Session Summary View"
                   class="dropdown-item">
                    Session Summary View
                </a>
            </div>
        </div>
    </div>
</div>

@{
    var cellStyle = "border: 1px solid #000; padding: 2px 4px; min-width: 110px; font-size: 10pt;";
}

<!-- Modal -->
<div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="sessionModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sessionModalTitle">Session Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table style="border-collapse: collapse;"
                       include-if="@Model.Items.Count > 0">
                    <thead>
                        <tr>
                            <th style="@cellStyle">
                                Date
                            </th>
                            <th style="@cellStyle">
                                Time
                            </th>
                            <th style="@cellStyle">
                                Location
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td style="@cellStyle">
                                    @item.StartDate?.ToString("MM/dd/yyyy")
                                </td>
                                <td style="@cellStyle">
                                    @item.StartTime?.ToString(@"hh\:mm")@(item.EndTime.HasValue ? " - " : " ")@item.EndTime?.ToString(@"hh\:mm")
                                </td>
                                <td style="@cellStyle">
                                    <google-map address="@item.LocationAddressLine1"
                                                city="@item.LocationCity"
                                                state="@item.LocationStateProvince"
                                                postal="@item.LocationPostalCode">@item.LocationName</google-map>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>