@page  "/topic/{id:Guid}/sessions/"
@using InstructorIQ.Core.Extensions
@using InstructorIQ.Core.Security
@model IndexModel
@{
    ViewData["Title"] = $"Sessions for {Model.Entity.Title}"; ;
    ViewData["TopicTitle"] = $" - {Model.Entity.Title}";
    ViewData["TopicTab"] = "Sessions";

    Layout = "_TopicLayout";
}

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-sm m-0">
            <colgroup>
                <col style="width: 80px">
                <col style="width: 90px">
                <col style="width: 80px">
                <col style="width: 80px">
                <col style="">
                <col style="">
                <col style="">
            </colgroup>
            <thead class="">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Group</th>
                    <th>Location</th>
                    <th>Instructor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items.ToIndexedList())
                {
                    <tr>
                        <td>
                            <a asp-page="/topic/session/view"
                               asp-route-tenant="@Model.TenantRoute"
                               asp-route-topicid="@Model.Id"
                               asp-route-id="@item.Value.Id"
                               title="Edit Session"
                               class="d-block">Session @(item.Index + 1)</a>
                        </td>
                        <td>@item.Value.StartDate?.ToString("MM/dd/yyyy")</td>
                        <td>@item.Value.StartTime?.ToString(@"hh\:mm")</td>
                        <td>@item.Value.EndTime?.ToString(@"hh\:mm")</td>
                        <td>@item.Value.GroupName</td>
                        <td>@item.Value.LocationName</td>
                        <td>@item.Value.LeadInstructorName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-2"
     authorize-policy="@UserPolicies.AdministratorPolicy">
    <div class="col">
        <div class="btn-group">
            <a asp-page="/topic/session/create"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-topicid="@Model.Id"
               title="Create New Session"
               class="btn btn-primary">
                Add Session
            </a>
            <button type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a asp-page="/topic/session/create"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-topicid="@Model.Id"
                   title="Create New Session"
                   class="dropdown-item">
                    Add New Session
                </a>
                <a asp-page="/topic/session/sequence"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Add Sessions for Groups"
                   class="dropdown-item">
                    Add Sessions for Groups
                </a>
                <div class="dropdown-divider"></div>
                <a asp-page="/topic/session/bulk"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Bulk Edit Sessions"
                   class="dropdown-item">
                    Bulk Edit Sessions
                </a>
            </div>
        </div>
    </div>
</div>

