@page  "/topic/{id:Guid}/sessions/"
@using Humanizer
@using InstructorIQ.Core.Extensions
@using InstructorIQ.Core.Security
@model IndexModel
@{
    ViewData["Title"] = $"Sessions for {Model.Entity.Title}"; ;
    ViewData["TopicTitle"] = $" - {Model.Entity.Title}";
    ViewData["TopicTab"] = "Sessions";

    Layout = "_TopicLayout";
}

<div class="list-group list-group-flush">
    @foreach (var item in Model.Items)
    {
        var instructors = new HashSet<string>();
        instructors.Add(item.LeadInstructorName);
        foreach (var instructor in item.AdditionalInstructors)
        {
            instructors.Add(instructor.DisplayName);
        }

        <a asp-page="/topic/session/view"
           asp-route-tenant="@Model.TenantRoute"
           asp-route-topicid="@Model.Id"
           asp-route-id="@item.Id"
           title="Edit Session"
           class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    @item.TopicTitle@(item.GroupId.HasValue ? " - " : " ")@item.GroupName
                </h5>
                <div>
                    <small class="d-block">
                        <strong>@item.StartDate?.ToString("MM/dd/yyyy")</strong>
                    </small>
                    <small class="d-block">
                        @item.StartTime?.ToString(@"hh\:mm")@(item.EndTime.HasValue ? " - " : " ")@item.EndTime?.ToString(@"hh\:mm")
                    </small>
                </div>
            </div>
            <div>
                <small>
                    <i class="fas fa-map-marker-alt mr-1" 
                       include-if="@item.LocationId.HasValue"></i>
                    @item.LocationName
                
                    <i class="fas fa-user ml-2 mr-1" 
                       include-if="@instructors.Count > 0"></i>
                    <em>@instructors.ToDelimitedString("; ")</em>
                </small>
            </div>
        </a>
    }
</div>

<div class="card-body"
     authorize-policy="@UserPolicies.AdministratorPolicy">
    <div class="col">
        <div class="btn-group">
            <a asp-page="/topic/session/create"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-topicid="@Model.Id"
               title="Create New Session"
               class="btn btn-primary">
                Add Session
            </a>
            <button type="button"
                    class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                <a asp-page="/topic/session/create"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-topicid="@Model.Id"
                   title="Create New Session"
                   class="dropdown-item">
                    Add New Session
                </a>
                <a asp-page="/topic/session/sequence"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Add Sessions for Groups"
                   class="dropdown-item">
                    Add Sessions for Groups
                </a>
                <div class="dropdown-divider"></div>
                <a asp-page="/topic/session/bulk"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Bulk Edit Sessions"
                   class="dropdown-item">
                    Bulk Edit Sessions
                </a>
            </div>
        </div>
    </div>
</div>

