@page  "{id:Guid}"
@model IndexModel
@{
    ViewData["Title"] = "Edit Sessions";
    Layout = "_TopicLayout";
}

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-sm m-0">
            <colgroup>
                <col style="width: 30px">
                <col style="width: 90px">
                <col style="width: 80px">
                <col style="width: 80px">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="width: 90px">
            </colgroup>
            <thead class="">
                <tr>
                    <th></th>
                    <th>
                        <header asp-page="/topic/session/index"
                                asp-route-id="@Model.Id"
                                sort-by="StartTime"
                                sort-current="@Model.Sort"
                                title="Sort by Date">
                            Date
                        </header>
                    </th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Group</th>
                    <th>Location</th>
                    <th>Instructor</th>
                    <th>
                        <header asp-page="/topic/session/index"
                                asp-route-id="@Model.Id"
                                sort-by="UpdatedBy"
                                sort-current="@Model.Sort"
                                title="Sort by Updater">
                            Updater
                        </header>
                    </th>
                    <th>
                        <header asp-page="/topic/session/index"
                                asp-route-id="@Model.Id"
                                sort-by="Updated"
                                sort-current="@Model.Sort"
                                title="Sort by Updated">
                            Updated
                        </header>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                <tr>
                    <td>
                        <a asp-page="/topic/session/edit"
                           asp-route-topicid="@Model.Id"
                           asp-route-id="@item.Id"
                           title="Edit Session"
                           class="d-block"><i class="fas fa-edit"></i></a>
                    </td>
                    <td>@item.StartTime?.ToString("MM/dd/yyyy")</td>
                    <td>@item.StartTime?.ToString("HH:mm")</td>
                    <td>@item.EndTime?.ToString("HH:mm")</td>
                    <td>@item.GroupName</td>
                    <td>@item.LocationName</td>
                    <td>@item.LeadInstructorName</td>
                    <td>@item.UpdatedBy</td>
                    <td>@item.Updated.ToString("MM/dd/yyyy")</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <a asp-page="/topic/session/create"
           asp-route-topicid="@Model.Id"
           title="Create New Session"
           class="btn btn-primary m-3">Create</a>
    </div>
</div>

