@page  "/topic/{id:Guid}/sessions/edit"
@model MultipleModel
@{
    ViewData["Title"] = "Edit Sessions";
}

<div id="session-multiple" class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/topic/index"
                   asp-route-tenant="@Model.TenantRoute">Topics</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/topic/session/index"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id">Topic Sessions</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Edit Sessions</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <form id="multiple-session-form"
          name="multiple-session-form"
          role="form"
          method="post">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="card mb-5">
            <div class="card-header">
                <i class="fas fa-book-open mr-2"
                   aria-hidden="true"></i> Topic Session @ViewBag.TopicTitle
            </div>
            <div class="card-body">
                <div class="row" style="min-height: 250px;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm table-striped m-0"
                               style="min-width: 1840px;">
                            <colgroup>
                                <col style="width: 34px">
                                <col style="width: 160px">
                                <col style="width: 125px">
                                <col style="width: 125px">
                                <col style="width: 220px">
                                <col style="width: 220px">
                                <col style="width: 220px">
                                <col style="width: 450px">
                                <col style="">
                            </colgroup>
                            <thead class="">
                                <tr>
                                    <th></th>
                                    <th>Start Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Group</th>
                                    <th>Location</th>
                                    <th>Lead</th>
                                    <th>Instructors</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(session, index) in sessions" :key="session.id">
                                    <td>
                                        <input type="hidden"
                                               name="Sessions.Index"
                                               v-model="session.id" />
                                        <input type="hidden"
                                               :name="`Sessions[${session.id}].Id`"
                                               v-model="session.id" />
                                        <input type="hidden"
                                               :name="`Sessions[${session.id}].TopicId`"
                                               v-model="session.topicId" />
                                        <input type="hidden"
                                               :name="`Sessions[${session.id}].TenantId`"
                                               v-model="session.tenantId" />

                                        <div class="dropdown">
                                            <button class="btn btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <button type="button"
                                                        class="dropdown-item"
                                                        v-on:click="copySession(session)">
                                                    Duplicate Session
                                                </button>
                                                <h6 class="dropdown-header">Frequent Times</h6>
                                                <button type="button"
                                                        class="dropdown-item"
                                                        v-for="time in times"
                                                        v-on:click="setTime(session, time.startTime, time.endTime)">
                                                    {{time.startTime}} - {{time.endTime}}
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <input type="date"
                                               :name="`Sessions[${session.id}].StartDate`"
                                               :value="session.startDate && session.startDate.split('T')[0]"
                                               v-on:input="session.startDate = $event.target.value"
                                               class="form-control form-control-sm" />

                                        <input type="hidden"
                                               :name="`Sessions[${session.id}].EndDate`"
                                               :value="session.startDate" />
                                    </td>
                                    <td>
                                        <input :name="`Sessions[${session.id}].StartTime`"
                                               type="time"
                                               v-model="session.startTime"
                                               class="form-control form-control-sm" />
                                    </td>
                                    <td>
                                        <input :name="`Sessions[${session.id}].EndTime`"
                                               type="time"
                                               v-model="session.endTime"
                                               class="form-control form-control-sm" />
                                    </td>
                                    <td>
                                        <v-select append-to-body
                                                  label="text"
                                                  class="selector selector-single"
                                                  placeholder="- Group -"
                                                  :options="groups"
                                                  :reduce="item => item.value"
                                                  v-model="session.groupId"></v-select>

                                        <input type="hidden"
                                               :name="`Sessions[${session.id}].GroupId`"
                                               :value="session.groupId" />
                                    </td>
                                    <td>
                                        <v-select append-to-body
                                                  label="text"
                                                  class="selector selector-single"
                                                  placeholder="- Location -"
                                                  :options="locations"
                                                  :reduce="item => item.value"
                                                  v-model="session.locationId"></v-select>

                                        <input type="hidden"
                                               :name="`Sessions[${session.id}].LocationId`"
                                               :value="session.locationId" />
                                    </td>
                                    <td>
                                        <v-select append-to-body
                                                  label="text"
                                                  class="selector selector-single"
                                                  placeholder="- Instructor -"
                                                  :options="instructors"
                                                  :reduce="item => item.value"
                                                  v-model="session.leadInstructorId"></v-select>

                                        <input type="hidden"
                                               :name="`Sessions[${session.id}].LeadInstructorId`"
                                               :value="session.leadInstructorId" />
                                    </td>
                                    <td>
                                        <v-select multiple
                                                  append-to-body
                                                  label="text"
                                                  class="selector"
                                                  :options="instructors"
                                                  :reduce="item => item.value"
                                                  v-model="session.additionalInstructors"></v-select>

                                        <input type="hidden"
                                               v-for="instructor in session.additionalInstructors"
                                               :name="`Sessions[${session.id}].AdditionalInstructors`"
                                               :value="instructor" />
                                    </td>
                                    <td>
                                        <input :name="`Sessions[${session.id}].Note`"
                                               type="text"
                                               v-model="session.note"
                                               class="form-control form-control-sm"
                                               placeholder="Note" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button id="save-button"
                                type="submit"
                                class="btn btn-primary"
                                data-loading-text="<span class='spinner-border spinner-border-sm'></span> Saving...">
                            Save
                        </button>
                        <a id="cancel-button"
                           asp-page="/topic/session/index"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                    <div class="col-auto">
                        <button id="add-button"
                                type="button"
                                v-on:click="addSession"
                                class="btn btn-secondary">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        var app = new Vue({
            el: '#session-multiple',
            data: {
                topic: @Json.Serialize(Model.Topic),
                groups: @Json.Serialize(Model.Groups),
                locations: @Json.Serialize(Model.Locations),
                instructors: @Json.Serialize(Model.Instructors),
                sessions: @Json.Serialize(Model.Sessions),
                times: @Json.Serialize(Model.Times)
            },
            methods: {
                copySession: function (instance) {
                    var session = { ...instance, id: uuidv4() };
                    this.sessions.push(session);
                },
                setTime: function (instance, startTime, endTime) {
                    instance.startTime = startTime;
                    instance.endTime = endTime;
                },
                addSession: function () {
                    var session = {
                        id: uuidv4(),
                        tenantId: this.topic.tenantId,
                        topicId: this.topic.id,
                        startDate: '',
                        startTime: '',
                        endDate: '',
                        endTime: '',
                        groupId: '',
                        locationId: '',
                        leadInstructorId: this.topic.leadInstructorId,
                        additionalInstructors: [],
                        note: ''
                    }

                    this.sessions.push(session);
                }
            }
        })

        $(function () {
            $("#multiple-session-form")
                .submitGuard()
                .dirty({
                    preventLeaving: true
                });
        });
    </script>
}
