@model SummaryModel

@{
    var sectionStyle = "color: #2F5496; font-size: 14pt; font-weight: 700; margin: 0.67em 0;";
    var detailStyle = "font-size: 12pt; font-weight: 700; margin: 0.67em 0;";
    var cellStyle = "border: 1px solid #000; padding: 2px 4px; min-width: 110px; font-size: 10pt;";
    var requiredStyle = "color: #BA372A;";
}

<div style="font-family: Calibri, Helvetica, sans-serif; font-size: 11pt;">
    <h1 style="@sectionStyle">
        Summary for @Model.Date.ToString("MMMM d")
    </h1>
    <table style="border-collapse: collapse;"
           include-if="@Model.Items.Count > 0">
        <thead>
            <tr>
                <th style="@cellStyle">
                    Station / Squad
                </th>
                <th style="@cellStyle">
                    Topic
                </th>
                <th style="@cellStyle">
                    Location
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td style="@cellStyle">
                        @item.GroupName
                    </td>
                    <td style="@cellStyle">
                        @if (item.IsRequired)
                        {
                            <span style="@requiredStyle">@item.TopicTitle *</span>
                        }
                        else
                        {
                            @item.TopicTitle
                        }
                    </td>
                    <td style="@cellStyle">
                        <google-map address="@item.LocationAddressLine1"
                                    city="@item.LocationCity"
                                    state="@item.LocationStateProvince"
                                    postal="@item.LocationPostalCode">@item.LocationName</google-map>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot include-if="Model.Items.Any(i => i.IsRequired)">
            <tr>
                <td colspan="3"
                    style="border: 0 none;">
                    <small style="@requiredStyle">* Required</small>
                </td>
            </tr>
        </tfoot>
    </table>
    
    <p include-if="@Model.Items.Count == 0">&nbsp;</p>

    <h1 style="@sectionStyle">
        Response
    </h1>

    <p>&nbsp;</p>

    <h1 style="@sectionStyle">
        Topic Details
    </h1>

    @foreach (var group in Model.Items.OrderBy(g => g.TopicTitle).GroupBy(g => g.TopicId))
    {
        var item = group.FirstOrDefault();
        <h3 style="@detailStyle">
            @item.TopicTitle
        </h3>

        <markdown content="@item.TopicDescription"></markdown>

    }

    <p include-if="@Model.Items.Count == 0">&nbsp;</p>

    <h1 style="@sectionStyle">
        Notes
    </h1>

    <p>&nbsp;</p>

    <h1 style="@sectionStyle">
        Links
    </h1>

    <ul>
        <li>
            <a asp-protocol="@Model.HttpContext.Request.Scheme"
               asp-host="@Model.HttpContext.Request.Host"
               asp-page="/calendar/monthly"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-year="@Model.Date.Year"
               asp-route-month="@Model.Date.Month">
                @Model.Date.Year @Model.MonthName Training Calendar
            </a>
        </li>
        @if (Model.ShowNextMonth())
        {
            <li>
                <a asp-protocol="@Model.HttpContext.Request.Scheme"
                   asp-host="@Model.HttpContext.Request.Host"
                   asp-page="/calendar/monthly"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-year="@Model.NextMonth.Year"
                   asp-route-month="@Model.NextMonth.Month">
                    @Model.NextMonth.Year @Model.NextMonthName Training Calendar
                </a>
            </li>
        }
        <li>
            <a asp-protocol="@Model.HttpContext.Request.Scheme"
               asp-host="@Model.HttpContext.Request.Host"
               asp-page="/calendar/yearly"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-year="@Model.Date.Year">
                @Model.Date.Year Yearly Training Calendar
            </a>
        </li>
        @if (Model.ShowNextYear())
        {
            <li>
                <a asp-protocol="@Model.HttpContext.Request.Scheme"
                   asp-host="@Model.HttpContext.Request.Host"
                   asp-page="/calendar/yearly"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-year="@Model.NextYear.Year">
                    @Model.NextYear.Year Yearly Training Calendar
                </a>
            </li>
        }
    </ul>
</div>