@using InstructorIQ.Core.Data.Entities
@using InstructorIQ.Core.Domain.Models
@using InstructorIQ.Core.Multitenancy
@using InstructorIQ.Core.Security
@inject SignInManager<User> SignInManager
@inject UserClaimManager UserClaimManager
@inject ITenant<TenantReadModel> Tenant

<nav id="navbar-main"
     class="navbar navbar-expand-lg navbar-light fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand"
           asp-page="/index"
           asp-route-tenant="@Tenant.Value?.Slug"
           style="padding: 0">
            <img src="~/media/logo-full.svg"
                 asp-append-version="true"
                 alt="InstructorIQ"
                 height="30" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar-main-menu"
                aria-controls="navbar-main-menu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbar-main-menu">
            <ul class="navbar-nav mr-auto">
                <!-- Calendar Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue">
                    <a id="navbar-dropdown-calendar"
                       class="nav-link dropdown-toggle"
                       href="#"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Calendar
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbar-dropdown-calendar">
                        <a id="navbar-monthly-calendar-link"
                           class="dropdown-item"
                           asp-page="/calendar/monthly"
                           asp-route-tenant="@Tenant.Value?.Slug">Monthly Calendar</a>
                        <a id="navbar-yearly-calendar-link"
                           class="dropdown-item"
                           asp-page="/calendar/yearly"
                           asp-route-tenant="@Tenant.Value?.Slug">Yearly Calendar</a>
                        <div class="dropdown-divider"></div>
                        <a id="navbar-interactive-calendar-link"
                           class="dropdown-item"
                           asp-page="/calendar/index"
                           asp-route-tenant="@Tenant.Value?.Slug">Calendar</a>
                        <a id="navbar-subscribe-calendar-link"
                           class="dropdown-item"
                           asp-page="/calendar/subscribe"
                           asp-route-tenant="@Tenant.Value?.Slug">Subscribe</a>
                    </div>
                </li>

                <!-- Topic Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue">
                    <a id="navbar-dropdown-topic"
                       class="nav-link dropdown-toggle"
                       href="#"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Topics
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbar-dropdown-topic">
                        <a id="navbar-view-topic-link"
                           class="dropdown-item"
                           asp-page="/topic/index"
                           asp-route-tenant="@Tenant.Value?.Slug">View Topics</a>
                        <div class="dropdown-divider"
                             authorize-policy="@UserPolicies.AdministratorPolicy"></div>
                        <a id="navbar-create-topic-link"
                           class="dropdown-item"
                           authorize-policy="@UserPolicies.AdministratorPolicy"
                           asp-page="/topic/create"
                           asp-route-tenant="@Tenant.Value?.Slug">Add Topic</a>
                    </div>
                </li>

                <!-- Instructor Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue"
                    authorize>
                    <a id="navbar-dropdown-instructors"
                       class="nav-link dropdown-toggle"
                       href="#"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Instructors
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbar-dropdown-instructors">
                        <a id="navbar-view-instructors-link"
                           class="dropdown-item"
                           asp-page="/instructor/index"
                           asp-route-tenant="@Tenant.Value?.Slug">View Instructors</a>
                        <div class="dropdown-divider"
                             authorize-policy="@UserPolicies.AdministratorPolicy"></div>
                        <a id="navbar-create-instructor-link"
                           class="dropdown-item"
                           authorize-policy="@UserPolicies.AdministratorPolicy"
                           asp-page="/instructor/create"
                           asp-route-tenant="@Tenant.Value?.Slug">Add Instructor</a>
                    </div>
                </li>

                <!-- Reports Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue">
                    <a id="navbar-dropdown-reports"
                       class="nav-link dropdown-toggle"
                       href="#"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Reports
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbar-dropdown-reports">
                        <a id="navbar-summary-report-link"
                           class="dropdown-item"
                           asp-page="/report/summary"
                           asp-route-tenant="@Tenant.Value?.Slug">Daily Summary</a>
                    </div>
                </li>

                <!-- Administrative Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue"
                    authorize-policy="@UserPolicies.AdministratorPolicy">
                    <a id="navbar-dropdown-administrative"
                       href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Administrative
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbar-dropdown-administrative">
                        <a id="navbar-administrative-locations-link"
                           class="dropdown-item"
                           asp-page="/location/index"
                           asp-route-tenant="@Tenant.Value?.Slug">Locations</a>
                        <a id="navbar-administrative-groups-link"
                           class="dropdown-item"
                           asp-page="/group/index"
                           asp-route-tenant="@Tenant.Value?.Slug">Groups</a>
                        <a id="navbar-administrative-template-link"
                           class="dropdown-item"
                           asp-page="/template/index"
                           asp-route-tenant="@Tenant.Value?.Slug">Templates</a>
                        <div class="dropdown-divider"></div>
                        <a id="navbar-administrative-member-link"
                           class="dropdown-item"
                           asp-page="/member/index"
                           asp-route-tenant="@Tenant.Value?.Slug">Members</a>

                    </div>
                </li>
                <!-- Global Menu -->
                <li class="nav-item dropdown"
                    authorize-policy="@UserPolicies.GlobalAdministratorPolicy">
                    <a id="navbar-dropdown-global-administrative"
                       href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Global
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbar-dropdown-global-administrative">
                        <a id="navbar-administrative-tenant-link"
                           class="dropdown-item"
                           asp-page="/global/tenant/index">Manage Tenants</a>
                        <a id="navbar-administrative-user-link"
                           class="dropdown-item"
                           asp-page="/global/user/index">Manage Users</a>
                        <div class="dropdown-divider"></div>
                        <a id="navbar-administrative-hangfire-link"
                           class="dropdown-item"
                           href="/hangfire">Hangfire Dashboard</a>
                    </div>
                </li>
            </ul>

            <!-- User Menu -->
            <ul class="navbar-nav"
                style="margin-right: 15px;">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a id="navbar-dropdown-notification"
                           class="nav-link position-relative"
                           asp-page="/user/notification">
                            <i id="navbar-notification-icon" 
                               class="far fa-bell"></i>
                            <span id="navbar-notification-count" 
                                  style="display: none;"
                                  class="badge badge-info border border-light">0</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="navbar-dropdown-user"
                           href="#"
                           class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <gravatar email="@User.Identity.Name"
                                      class="rounded-circle"
                                      size="24"></gravatar>
                            <span id="navbar-identity-username">@UserClaimManager.GetDisplayName(User)</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="navbar-dropdown-user">
                            <a id="navbar-identity-profile-link"
                               class="dropdown-item"
                               asp-page="/user/profile">
                                <i class="fas fa-user"></i> Update Profile
                            </a>
                            <a id="navbar-identity-profile-link"
                               class="dropdown-item"
                               asp-page="/user/password">
                                <i class="fas fa-lock"></i> Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a id="navbar-identity-profile-link"
                               class="dropdown-item"
                               asp-page="/user/tenant">
                                <i class="fas fa-building"></i> Change Tenant
                            </a>
                            <div class="dropdown-divider"></div>
                            <a id="navbar-identity-logout-link"
                               class="dropdown-item"
                               asp-page="/account/logout">
                                <i class="fas fa-power-off"></i> Logout
                            </a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a id="navbar-identity-login-link" 
                           class="nav-link"
                           asp-page="/account/login"
                           asp-route-tenant="@Tenant.Value?.Slug">
                            Login
                        </a>
                    </li>

                }
            </ul>
        </div>
    </div>
</nav>
 