@using InstructorIQ.Core.Data.Entities
@using InstructorIQ.Core.Domain.Models
@using InstructorIQ.Core.Multitenancy
@using InstructorIQ.Core.Security
@inject SignInManager<User> SignInManager
@inject UserClaimManager UserClaimManager
@inject ITenant<TenantReadModel> Tenant

<nav id="navbar-main"
     class="navbar navbar-expand-md navbar-light fixed-top navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand"
           asp-page="/index"
           asp-route-tenant="@Tenant.Value?.Slug"
           style="padding: 0">
            <img src="~/media/logo-full.svg"
                 asp-append-version="true"
                 alt="InstructorIQ"
                 height="30" />
        </a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse"
             id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <!-- Calendar Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue">
                    <a id="navbarDropdownCalendar"
                       class="nav-link dropdown-toggle"
                       href="#"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Calendar
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdownCalendar">
                        <a id="navbarMonthlyCalendarLink"
                           class="dropdown-item"
                           asp-page="/calendar/monthly"
                           asp-route-tenant="@Tenant.Value?.Slug">Monthly Calendar</a>
                        <a id="navbarYearlyCalendarLink"
                           class="dropdown-item"
                           asp-page="/calendar/yearly"
                           asp-route-tenant="@Tenant.Value?.Slug">Yearly Calendar</a>
                    </div>
                </li>

                <!-- Topic Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue">
                    <a id="navbarDropdownTopic"
                       class="nav-link dropdown-toggle"
                       href="#"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Topics
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdownTopic">
                        <a id="navbarViewTopicLink"
                           class="dropdown-item"
                           asp-page="/topic/index"
                           asp-route-tenant="@Tenant.Value?.Slug">View Topics</a>
                        <div class="dropdown-divider"
                             authorize-policy="@UserPolicies.AdministratorPolicy"></div>
                        <a id="navbarCreateTopicLink"
                           class="dropdown-item"
                           authorize-policy="@UserPolicies.AdministratorPolicy"
                           asp-page="/topic/create"
                           asp-route-tenant="@Tenant.Value?.Slug">Add Topic</a>
                    </div>
                </li>

                <!-- Instructor Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue"
                    authorize>
                    <a id="navbarDropdownInstructors"
                       class="nav-link dropdown-toggle"
                       href="#"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Instructors
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdownInstructors">
                        <a id="navbarViewInstructorsLink"
                           class="dropdown-item"
                           asp-page="/instructor/index"
                           asp-route-tenant="@Tenant.Value?.Slug">View Instructors</a>
                        <div class="dropdown-divider"
                             authorize-policy="@UserPolicies.AdministratorPolicy"></div>
                        <a id="navbarCreateInstructorLink"
                           class="dropdown-item"
                           authorize-policy="@UserPolicies.AdministratorPolicy"
                           asp-page="/instructor/create"
                           asp-route-tenant="@Tenant.Value?.Slug">Add Instructor</a>
                    </div>
                </li>

                <!-- Administrative  Menu -->
                <li class="nav-item dropdown"
                    include-if="@Tenant.HasValue"
                    authorize-policy="@UserPolicies.AdministratorPolicy">
                    <a id="navbarDropdownAdministrative"
                       href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Administrative
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="navbarDropdownAdministrative">
                        <a id="navbarAdministrativeLocationsLink"
                           class="dropdown-item"
                           asp-page="/location/index"
                           asp-route-tenant="@Tenant.Value?.Slug">Locations</a>
                        <a id="navbarAdministrativeGroupsLink"
                           class="dropdown-item"
                           asp-page="/group/index"
                           asp-route-tenant="@Tenant.Value?.Slug">Groups</a>
                        <div class="dropdown-divider"
                             authorize-policy="@UserPolicies.GlobalPolicy"></div>

                    </div>
                </li>
            </ul>

            @*<form class="form-inline mt-2 mt-md-0 d-none d-xl-block"
                  include-if="@Tenant.HasValue">
                <input id="navbarSearchInput"
                       class="form-control mr-sm-2"
                       type="text"
                       placeholder="Search"
                       aria-label="Search"
                       style="background: transparent;">
            </form>*@

            <!-- User Menu -->
            <ul class="navbar-nav"
                style="margin-right: 15px;">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown">
                        <a id="navbarDropdownUser"
                           href="#"
                           class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <gravatar email="@User.Identity.Name"
                                      class="rounded-circle"
                                      size="24"></gravatar>
                            <span id="navbarIdentityUsername">@UserClaimManager.GetDisplayName(User)</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="navbarDropdownUser">
                            <a id="navbarIdentityProfile"
                               class="dropdown-item"
                               asp-page="/user/profile"
                               asp-route-tenant="@Tenant.Value?.Slug">
                                <i class="fas fa-user"></i> Update Profile
                            </a>
                            <a id="navbarIdentityProfile"
                               class="dropdown-item"
                               asp-page="/user/password"
                               asp-route-tenant="@Tenant.Value?.Slug">
                                <i class="fas fa-lock"></i> Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <a id="navbarIdentityLogout"
                               class="dropdown-item"
                               asp-page="/account/logout"
                               asp-route-tenant="@Tenant.Value?.Slug">
                                <i class="fas fa-power-off"></i> Logout
                            </a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-page="/account/login"
                           asp-route-tenant="@Tenant.Value?.Slug">
                            Login
                        </a>
                    </li>

                }
            </ul>
        </div>
    </div>
</nav>

