@page "{year:int?}/{month:int?}"
@using System.Globalization
@using InstructorIQ.Core.Services
@using NaturalSort.Extension
@model MonthlyModel
@{
    var currentMonth = @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(Model.Month);
    var currentDate = new DateTime(Model.Year, Model.Month, 1);
    var previousDate = currentDate.AddMonths(-1);
    var nextDate = currentDate.AddMonths(1);

    ViewData["Title"] = $"{Model.Year} {currentMonth} Calendar";
}

<div class="container">
    <div class="row m-3 d-print-none">
        <div class="col text-right">
            <a class="btn btn-outline-secondary"
               style="width: 110px"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-month="@previousDate.Month"
               asp-route-year="@previousDate.Year">Previous</a>
        </div>
        <div class="col">
            <select asp-for="Month"
                    asp-items="SelectItemFactory.Months()"
                    class="custom-select"
                    onchange="changeDate()">
            </select>
        </div>
        <div class="col">
            <select asp-for="Year"
                    asp-items="SelectItemFactory.Years()"
                    class="custom-select"
                    onchange="changeDate()">
            </select>
        </div>
        <div class="col">
            <a class="btn btn-outline-secondary"
               style="width: 110px"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-month="@nextDate.Month"
               asp-route-year="@nextDate.Year">Next</a>
        </div>
    </div>
    <div class="d-none d-print-block">
        <div class="text-center calendar-header-title">
            @Model.Tenant.Value?.Name
        </div>
        <div class="text-center calendar-header-date">
            @currentMonth @Model.Year
        </div>
    </div>
    <table class="monthly-table">
        @foreach (var grouping in Model.Items.OrderBy(g => g.StartDate).GroupBy(g => g.StartDate ?? DateTime.MinValue))
        {
            var sortedGroups = grouping
                .OrderBy(i => i.StartTime)
                .ThenBy(i => i.GroupName, StringComparer.OrdinalIgnoreCase.WithNaturalSort())
                .ToList();

            <tbody>
                <tr>
                    <td class="monthly-date">
                        <span class="vertical-text">@grouping.Key.ToString("d-MMM")</span>
                    </td>
                    <td class="monthly-date-container">
                        <table class="monthly-date-table">
                            <tbody>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-attendee">
                                            <span class="fa-pull-left ml-2"><small>@c?.StartTime?.ToString(@"hh\:mm")</small> </span>
                                            <span class="fa-pull-right mr-2"><small>@c?.EndTime?.ToString(@"hh\:mm")</small></span>
                                            <a asp-page="/topic/session/view"
                                               asp-route-topicid="@c.TopicId"
                                               asp-route-tenant="@Model.TenantRoute"
                                               asp-route-id="@c.Id"
                                               title="View @c.GroupName Session">
                                                @c.GroupName
                                            </a>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-topic">
                                            <a asp-page="/topic/view"
                                               asp-route-tenant="@Model.TenantRoute"
                                               asp-route-id="@c.TopicId"
                                               title="View @c.TopicTitle Topic">
                                                @c.TopicTitle
                                            </a>
                                            @if (c.IsRequired)
                                            {
                                                <span class="required">Required</span>
                                            }
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-label">Location</td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-data">@c.LocationName</td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-label">Lead Instructor</td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-data">@c.LeadInstructorName</td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-label">Additional Instructors</td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-data">
                                            @foreach (var i in c.AdditionalInstructors.OrderBy(x => x))
                                            {
                                                @i
                                                <br />
                                            }
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-label">Notes</td>
                                    }
                                </tr>
                                <tr>
                                    @foreach (var c in sortedGroups)
                                    {
                                        <td class="monthly-data">@c.Note</td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        }

    </table>
</div>

@section Scripts {
    <script>
        function changeDate() {
            var year = $('#@Html.IdFor(p => p.Year)').val();
            var month = $('#@Html.IdFor(p => p.Month)').val();
            var url = '/@Model.TenantRoute/Calendar/Monthly/' + year + '/' + month;
            window.location.href = url;
        }
    </script>
}
