@using InstructorIQ.Core.Security
@{
    Layout = "_Layout";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/topic/index"
                   asp-route-tenant="@Model.TenantRoute">Topics</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Topic</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-book-open mr-2"
               aria-hidden="true"></i> Topic @ViewBag.TopicTitle

            <ul class="nav nav-tabs card-header-tabs float-right d-none d-lg-flex">
                <li class="nav-item">
                    <a id="topic-edit-tab"
                       class="nav-link @(ViewBag.TopicTab == "General" ? "active" : "" )"
                       title="View Topic"
                       asp-page="/topic/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">General</a>
                </li>
                <li class="nav-item">
                    <a id="topic-planning-tab"
                       class="nav-link @(ViewBag.TopicTab == "Planning" ? "active" : "" )"
                       title="Topic Planning"
                       asp-page="/topic/planning/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Planning</a>
                </li>
                <li class="nav-item">
                    <a id="topic-sessions-tab"
                       class="nav-link @(ViewBag.TopicTab == "Sessions" ? "active" : "" )"
                       title="Topic Sessions"
                       asp-page="/topic/session/index"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Sessions</a>
                </li>
                <li class="nav-item">
                    <a id="topic-discussion-tab"
                       class="nav-link @(ViewBag.TopicTab == "Discussion" ? "active" : "" )"
                       title="Topic Discussion"
                       asp-page="/topic/discussion/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Discussion</a>
                </li>
                <li class="nav-item">
                    <a id="topic-history-tab"
                       class="nav-link @(ViewBag.TopicTab == "History" ? "active" : "" )"
                       title="Topic Planning"
                       asp-page="/topic/history/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">History</a>
                </li>
                <li class="nav-item dropdown"
                    authorize-policy="@UserPolicies.AdministratorPolicy">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="action-dropdown-link"
                       role="button"
                       title="Topic Actions"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">

                    </a>
                    <div class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="action-dropdown-link">
                        <a asp-page="/topic/session/create"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-topicid="@Model.Id"
                           title="Add New Session"
                           class="dropdown-item">
                            Add New Session
                        </a>
                        <a asp-page="/topic/session/sequence"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           title="Add Sessions for Groups"
                           class="dropdown-item">
                            Add Sessions for Groups
                        </a>
                        <div class="dropdown-divider"></div>
                        <a asp-page="/topic/session/bulk"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           title="Bulk Edit Sessions"
                           class="dropdown-item">
                            Bulk Edit Sessions
                        </a>
                        <div class="dropdown-divider"></div>
                        <a asp-page="/Topic/Messaging/Introduction"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           title="Send Introduction"
                           class="dropdown-item">
                            Send Introduction
                        </a>
                        <a asp-page="/Topic/Messaging/PlanUpdate"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           title="Request Plan Update"
                           class="dropdown-item">
                            Request Plan Update
                        </a>

                    </div>
                </li>
            </ul>

            <div class="dropdown float-right d-md-flex d-lg-none"
                 style="margin-right: -10px;">
                <button type="button"
                        class="hamburger dropdown-toggle"
                        id="topic-dropdown-link"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="topic-dropdown-link">

                    <a id="topic-edit-dropdown"
                       class="dropdown-item @(ViewBag.TopicTab == "General" ? "active" : "" )"
                       title="View Topic"
                       asp-page="/topic/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">General</a>

                    <a id="topic-planning-dropdown"
                       class="dropdown-item @(ViewBag.TopicTab == "Planning" ? "active" : "" )"
                       title="Topic Planning"
                       asp-page="/topic/planning/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Planning</a>

                    <a id="topic-sessions-dropdown"
                       class="dropdown-item @(ViewBag.TopicTab == "Sessions" ? "active" : "" )"
                       title="Topic Sessions"
                       asp-page="/topic/session/index"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Sessions</a>

                    <a id="topic-discussion-dropdown"
                       class="dropdown-item @(ViewBag.TopicTab == "Discussion" ? "active" : "" )"
                       title="Topic Discussion"
                       asp-page="/topic/discussion/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Discussion</a>

                    <a id="topic-history-dropdown"
                       class="dropdown-item @(ViewBag.TopicTab == "History" ? "active" : "" )"
                       title="Topic Planning"
                       asp-page="/topic/history/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">History</a>

                </div>
            </div>
        </div>
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}