@using InstructorIQ.Core.Security
@{
    Layout = "_Layout";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/topic/index"
                   asp-route-tenant="@Model.TenantRoute">Topics</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Topic</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-book-open mr-2"
               aria-hidden="true"></i> Topic @ViewBag.TopicTitle

            <ul class="nav nav-tabs card-header-tabs float-right">
                <li class="nav-item">
                    <a id="topic-edit-tab"
                       class="nav-link @(ViewBag.TopicTab == "General" ? "active": "")"
                       title="View Topic"
                       asp-page="/topic/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">General</a>
                </li>
                <li class="nav-item">
                    <a id="topic-planning-tab"
                       class="nav-link @(ViewBag.TopicTab == "Planning" ? "active": "")"
                       title="Topic Planning"
                       asp-page="/topic/planning/view"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Planning</a>
                </li>
                <li class="nav-item">
                    <a id="topic-sessions-tab"
                       class="nav-link @(ViewBag.TopicTab == "Sessions" ? "active": "")"
                       title="Topic Sessions"
                       asp-page="/topic/session/index"
                       asp-route-tenant="@Model.TenantRoute"
                       asp-route-id="@Model.Id">Sessions</a>
                </li>
                <li class="nav-item dropdown"
                    authorize-policy="@UserPolicies.AdministratorPolicy">
                    <a class="nav-link dropdown-toggle"
                       href="#" id="actionDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Actions
                    </a>
                    <div class="dropdown-menu"
                         aria-labelledby="actionDropdown">
                        <a asp-page="/topic/session/create"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-topicid="@Model.Id"
                           title="Add New Session"
                           class="dropdown-item">
                            Add New Session
                        </a>
                        <a asp-page="/topic/session/sequence"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           title="Add Sessions for Groups"
                           class="dropdown-item">
                            Add Sessions for Groups
                        </a>
                        <div class="dropdown-divider"></div>
                        <a asp-page="/topic/session/bulk"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           title="Bulk Edit Sessions"
                           class="dropdown-item">
                            Bulk Edit Sessions
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-body">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}