@page "/topic/create"
@using InstructorIQ.Core.Services
@model InstructorIQ.WebApplication.Pages.Topic.CreateModel
@{
    ViewData["Title"] = "Create Topic";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/topic/index"
                   asp-route-tenant="@Model.TenantRoute">Topics</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Create Topic</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-book-open mr-2"
               aria-hidden="true"></i> Topic
        </div>
        <div class="card-body">
            <form id="topic-form"
                  name="topic-form"
                  role="form"
                  method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Entity.Title">Title <required /></label>
                    <input asp-for="Entity.Title"
                           type="text"
                           class="form-control"
                           placeholder="Title" />
                    <span asp-validation-for="Entity.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.Description">Description</label>
                    <textarea asp-for="Entity.Description"
                              rows="5"
                              class="form-control"
                              placeholder="Description"></textarea>
                    <span asp-validation-for="Entity.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.CalendarYear">Calendar Year <required /></label>
                    <select asp-for="Entity.CalendarYear"
                            asp-items="SelectItemFactory.Years()"
                            class="custom-select"></select>
                    <span asp-validation-for="Entity.CalendarYear" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col">
                        <button id="save-button"
                                type="submit"
                                class="btn btn-primary">
                            Save
                        </button>
                        <a id="cancel-button"
                           asp-page="/topic/index"
                           asp-route-tenant="@Model.TenantRoute"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_tinymce" model="@Html.IdFor(p => p.Entity.Description)" />
}