@page "/topics"
@using InstructorIQ.Core.Security
@using InstructorIQ.Core.Services
@model IndexModel
@{
    ViewData["Title"] = "Topics";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Topics</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <form id="topic-search-form"
                  name="topic-search-form"
                  role="form"
                  method="get">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <i class="fas fa-th-list mr-2"
                           aria-hidden="true"></i> Topics
                    </div>
                    <div class="col-md-2">
                        <select asp-for="Month"
                                asp-items="SelectItemFactory.Months()"
                                class="custom-select custom-select-sm"
                                onchange="this.form.submit()">
                            <option value="0"> - Month -</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select asp-for="Year"
                                asp-items="SelectItemFactory.Years()"
                                class="custom-select custom-select-sm"
                                onchange="this.form.submit()"></select>
                    </div>
                    <div class="col-md-5">
                        <div class="input-group input-group-sm">
                            <input type="hidden"
                                   name="s"
                                   value="@Model.Sort" />
                            <input type="text"
                                   name="q"
                                   value="@Model.Query"
                                   class="form-control"
                                   placeholder="Search" />
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary"
                                        type="submit">
                                    <i class="fas fa-search"
                                       aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <form id="topic-action-form"
              name="topic-action-form"
              method="post"
              role="form">
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm m-0">
                        <colgroup>
                            <col style="width: 30px">
                            <col style="width: 200px">
                            <col style="width: 200px">
                            <col style="width: 90px">
                            <col style="width: 90px">
                            <col style="width: 90px">
                            <col style="width: 90px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <header asp-route-q="@Model.Query"
                                            sort-by="Title"
                                            sort-current="@Model.Sort"
                                            title="Sort by Title">
                                        Title
                                    </header>
                                </th>
                                <th>
                                    <header asp-route-q="@Model.Query"
                                            sort-by="Description"
                                            sort-current="@Model.Sort"
                                            title="Sort by Description">
                                        Description
                                    </header>
                                </th>
                                <th>
                                    <header asp-route-q="@Model.Query"
                                            sort-by="CalendarYear"
                                            sort-current="@Model.Sort"
                                            title="Sort by Calendar Year">
                                        Year
                                    </header>
                                </th>
                                <th>
                                    <header asp-route-q="@Model.Query"
                                            sort-by="TargetMonth"
                                            sort-current="@Model.Sort"
                                            title="Sort by Target Month">
                                        Month
                                    </header>
                                </th>
                                <th>Sessions</th>
                                <th>
                                    <header asp-route-q="@Model.Query"
                                            sort-by="Updated"
                                            sort-current="@Model.Sort"
                                            title="Sort by Updated">
                                        Updated
                                    </header>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td class="text-center">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   name="Selected"
                                                   value="@item.Id"
                                                   class="custom-control-input"
                                                   id="sequence-@item.Id">
                                            <label class="custom-control-label"
                                                   for="sequence-@item.Id"></label>
                                        </div>
                                    </td>

                                    <td class="ellipsis">
                                        <a asp-page="/topic/view"
                                           asp-route-tenant="@Model.TenantRoute"
                                           asp-route-id="@item.Id"
                                           title="Edit Topic"
                                           class="d-block">@item.Title</a>
                                    </td>
                                    <td class="ellipsis">
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.CalendarYear
                                    </td>
                                    <td>
                                        @item.TargetMonth
                                    </td>
                                    <td>
                                        @item.SessionCount
                                    </td>
                                    <td>
                                        @item.Updated.ToString("MM/dd/yyyy")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer p-0">
                <div class="row">
                    <div class="col" authorize-policy="@UserPolicies.AdministratorPolicy">
                        <a asp-page="/topic/create"
                           asp-route-tenant="@Model.TenantRoute"
                           title="Add New Topic"
                           class="btn btn-primary m-3">Add Topic</a>

                        <button type="button"
                                class="btn btn-secondary dropdown-toggle"
                                id="actionDropdown"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu"
                             aria-labelledby="actionDropdown">
                            <button type="submit"
                                    asp-page-handler="AddGroups"
                                    title="Add Sessions for Groups"
                                    class="dropdown-item">
                                Add Sessions for Groups
                            </button>
                            <div class="dropdown-divider"></div>
                            <button type="submit"
                                    asp-page-handler="BulkEdit"
                                    title="Bulk Edit Sessions"
                                    class="dropdown-item">
                                Bulk Edit Sessions
                            </button>
                        </div>
                    </div>
                    <div class="col">
                        <pagination current-page="@Model.PageNumber"
                                    page-size="@Model.PageSize"
                                    total-items="@Model.Total"
                                    asp-route-z="@Model.PageSize"
                                    asp-route-s="@Model.Sort"
                                    asp-route-q="@Model.Query"
                                    class="justify-content-end m-3" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

