@page  "/topic/{id:Guid}"
@using InstructorIQ.Core.Security
@model ViewModel
@{
    ViewData["Title"] = $"Topic {Model.Entity.Title}";
    ViewData["TopicTitle"] = $" - {Model.Entity.Title}";
    ViewData["TopicTab"] = "General";

    Layout = "_TopicLayout";
}
<div class="card-body">
    <div class="form-group">
        <label>Title</label>
        <div class="form-control-view">
            @Model.Entity.Title
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <div class="form-control-view">
            <markdown content="Entity.Description"></markdown>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Lead Instructor</label>
            <div class="form-control-view">
                @Model.Entity.LeadInstructorName
            </div>
        </div>
        <div class="form-group col-md-3">
            <label>Calendar Year</label>
            <div class="form-control-view">
                @Model.Entity.CalendarYear
            </div>
        </div>
        <div class="form-group col-md-3">
            <label>Target Month</label>
            <div class="form-control-view">
                @Model.MonthName
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Required</label>
            <div class="form-control-view">
                @(Model.Entity.IsRequired ? "Yes" : "No")
            </div>
        </div>
    </div>

    <div class="row mt-3"
         authorize-policy="@UserPolicies.AdministratorPolicy">
        <div class="col">
            <a id="edit-button"
               asp-page="/topic/edit"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-id="@Model.Entity.Id"
               class="btn btn-primary">
                Edit
            </a>
        </div>
    </div>
</div>