@page "/templates"
@using Humanizer
@model IndexModel
@{
    ViewData["Title"] = "Templates";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Templates</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="far fa-file-alt mr-2"
               aria-hidden="true"></i> Templates
            <div class="float-right">
                <form id="template-search-form"
                      name="template-search-form"
                      role="form"
                      method="get">
                    <div class="input-group input-group-sm mr-2">
                        <input type="hidden"
                               name="s"
                               value="@Model.Sort" />
                        <input type="text"
                               name="q"
                               value="@Model.Query"
                               class="form-control"
                               placeholder="Search" />
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary"
                                    type="submit">
                                <i class="fas fa-search"
                                   aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="list-group list-group-flush">
            @foreach (var item in Model.Items)
            {
                <a asp-page="/template/edit"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@item.Id"
                   title="Edit @item.Name"
                   class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Name</h5>
                        <small title="Updated on @item.Updated.ToString()">@item.Updated.ToLocalTime().Humanize()</small>
                    </div>
                    <p class="m-0">@item.Description.Truncate(100)</p>
                </a>
            }
        </div>

        <div class="card-footer p-0">
            <div class="row">
                <div class="col-md-6">
                    <a asp-page="/template/create"
                       asp-route-tenant="@Model.TenantRoute"
                       title="Add New Template"
                       class="btn btn-primary m-3">Add Template</a>
                </div>
                <div class="col-md-6">
                    <pagination current-page="@Model.PageNumber"
                                page-size="@Model.PageSize"
                                total-items="@Model.Total"
                                asp-route-z="@Model.PageSize"
                                asp-route-s="@Model.Sort"
                                asp-route-q="@Model.Query"
                                class="justify-content-end m-3" />
                </div>
            </div>
        </div>
    </div>
</div>

