@page  "/instructor/{id:Guid}/edit"
@model EditModel
@{
    ViewData["Title"] = $"Edit Instructor {Model.Entity.DisplayName}";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/instructor/index"
                   asp-route-tenant="@Model.TenantRoute">Instructors</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Edit Instructor</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-chalkboard-teacher"></i> Instructor
        </div>
        <div class="card-body">
            <form id="instructor-form"
                  name="instructor-form"
                  role="form"
                  method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Entity.DisplayName">Display Name <required /></label>
                    <input asp-for="Entity.DisplayName"
                           type="text"
                           class="form-control"
                           placeholder="Display Name" />
                    <span asp-validation-for="Entity.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.GivenName">First Name </label>
                        <input asp-for="Entity.GivenName"
                               type="text"
                               class="form-control"
                               placeholder="First Name" />
                        <span asp-validation-for="Entity.GivenName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.FamilyName">Last Name </label>
                        <input asp-for="Entity.FamilyName"
                               type="text"
                               class="form-control"
                               placeholder="Last Name" />
                        <span asp-validation-for="Entity.FamilyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.JobTitle">Job Title </label>
                    <input asp-for="Entity.JobTitle"
                           type="text"
                           class="form-control"
                           placeholder="Job Title" />
                    <span asp-validation-for="Entity.JobTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.EmailAddress">Email Address </label>
                    <input asp-for="Entity.EmailAddress"
                           type="email"
                           class="form-control"
                           placeholder="Email Address" />
                    <span asp-validation-for="Entity.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.MobilePhone">Mobile Phone </label>
                        <input asp-for="Entity.MobilePhone"
                               type="tel"
                               class="form-control"
                               placeholder="Mobile Phone" />
                        <span asp-validation-for="Entity.MobilePhone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.BusinessPhone">Business Phone </label>
                        <input asp-for="Entity.BusinessPhone"
                               type="tel"
                               class="form-control"
                               placeholder="Business Phone" />
                        <span asp-validation-for="Entity.BusinessPhone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="save-button"
                                type="submit"
                                class="btn btn-primary">
                            Save
                        </button>
                        <a id="cancel-button"
                           asp-page="/instructor/view"
                           asp-route-tenant="@Model.TenantRoute"
                           asp-route-id="@Model.Id"
                           class="btn btn-secondary">
                            Cancel
                        </a>

                    </div>
                    <div class="col">
                        <confirm-button id="delete-button"
                                        class="btn btn-danger fa-pull-right"
                                        asp-page-handler="DeleteEntity"
                                        modal-button="Delete"
                                        modal-color="danger"
                                        modal-text="Are you sure you want to delete this?">
                            Delete
                        </confirm-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

