@page "/instructors"
@using Humanizer
@using InstructorIQ.Core.Security
@model IndexModel
@{
    ViewData["Title"] = "Instructors";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Instructors</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <i class="fas fa-chalkboard-teacher mr-2"
                       aria-hidden="true"></i> Instructors
                </div>
                <div class="col-sm-8">
                    <form id="instructor-search-form"
                          name="instructor-search-form"
                          role="form"
                          method="get">
                        <div class="input-group input-group-sm mr-2">
                            <input type="hidden"
                                   name="s"
                                   value="@Model.Sort" />
                            <input type="text"
                                   name="q"
                                   value="@Model.Query"
                                   class="form-control"
                                   placeholder="Search" />
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary"
                                        type="submit">
                                    <i class="fas fa-search"
                                       aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="list-group list-group-flush">
            @foreach (var item in Model.Items)
            {
            <a asp-page="/instructor/view"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-id="@item.Id"
               title="Edit @item.DisplayName"
               class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.DisplayName</h5>
                    <small title="Updated on @item.Updated.ToString()">@item.Updated.ToLocalTime().Humanize()</small>
                </div>
                <small class="d-block">@item.JobTitle</small>
                <small class="d-block">@item.EmailAddress</small>
                <small class="d-block">@item.MobilePhone</small>
            </a>
            }
        </div>
        <div class="card-footer p-0">
            <div class="row">
                <div class="col-md-6">
                    <div authorize-policy="@UserPolicies.AdministratorPolicy">
                        <a asp-page="/instructor/create"
                           asp-route-tenant="@Model.TenantRoute"
                           title="Add New Instructor"
                           class="btn btn-primary m-3">Add Instructor</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <pagination current-page="@Model.PageNumber"
                                page-size="@Model.PageSize"
                                total-items="@Model.Total"
                                asp-route-z="@Model.PageSize"
                                asp-route-s="@Model.Sort"
                                asp-route-q="@Model.Query"
                                class="justify-content-md-end m-3" />
                </div>
            </div>
        </div>
    </div>
</div>

