@page "/sessions/edit"
@model BulkModel
@{
    ViewData["Title"] = "Bulk";
    string lastTopic = null;
}


<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/topic/index"
                   asp-route-tenant="@Model.TenantRoute">Topics</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Edit Sessions</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <form id="bulk-session-form"
          name="bulk-session-form"
          role="form"
          method="post">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="card mb-5">
            <div class="card-header">
                <i class="fas fa-book-open mr-2"
                   aria-hidden="true"></i> Topic Session @ViewBag.TopicTitle
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-sm m-0">
                            <colgroup>
                                <col style="width: 180px">
                                <col style="width: 125px">
                                <col style="width: 180px">
                                <col style="width: 125px">
                                <col style="">
                                <col style="">
                                <col style="">
                                <col style="">
                            </colgroup>
                            <thead class="">
                                <tr>
                                    <th>Start Date</th>
                                    <th>Start Time</th>
                                    <th>End Date</th>
                                    <th>End Time</th>
                                    <th>Group</th>
                                    <th>Location</th>
                                    <th>Instructor</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Sessions.Count; i++)
                                {
                                    if (lastTopic != Model.Sessions[i].TopicTitle)
                                    {
                                        lastTopic = Model.Sessions[i].TopicTitle;
                                        <tr>
                                            <th colspan="8">
                                                @lastTopic
                                            </th>
                                        </tr>
                                    }
                                    <tr>

                                        <td>
                                            <input asp-for="Sessions[i].Id"
                                                   type="hidden" />
                                            <input asp-for="Sessions[i].TopicId"
                                                   type="hidden" />

                                            <input asp-for="Sessions[i].StartDate"
                                                   type="date"
                                                   data-target="#@Html.IdFor(p=>p.Sessions[i].EndDate)"
                                                   class="form-control form-control-sm" />
                                        </td>
                                        <td>
                                            <input asp-for="Sessions[i].StartTime"
                                                   type="time"
                                                   class="form-control form-control-sm" />
                                        </td>
                                        <td>
                                            <input asp-for="Sessions[i].EndDate"
                                                   type="date"
                                                   class="form-control form-control-sm" />
                                        </td>
                                        <td>
                                            <input asp-for="Sessions[i].EndTime"
                                                   type="time"
                                                   class="form-control form-control-sm" />
                                        </td>
                                        <td>
                                            <select asp-for="Sessions[i].GroupId"
                                                    asp-items="@Model.Groups"
                                                    class="custom-select custom-select-sm">
                                                <option value="">- Group -</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select asp-for="Sessions[i].LocationId"
                                                    asp-items="@Model.Locations"
                                                    class="custom-select custom-select-sm">
                                                <option value="">- Location -</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select asp-for="Sessions[i].LeadInstructorId"
                                                    asp-items="@Model.Instructors"
                                                    class="custom-select custom-select-sm">
                                                <option value="">- Instructor -</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input asp-for="Sessions[i].Note"
                                                   type="text"
                                                   class="form-control form-control-sm"
                                                   placeholder="Note" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button id="save-button"
                                type="submit"
                                class="btn btn-primary">
                            Save
                        </button>
                        <button id="reset-button"
                                type="reset"
                                class="btn btn-secondary">
                            Reset
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        $(function () {
            $('input[data-target]').copyValue();
        });
    </script>
}

