@page  "/topic/{id:Guid}/planning"
@using InstructorIQ.Core.Security
@model ViewModel
@{
    ViewData["Title"] = $"Topic {Model.Entity.Title}";
    ViewData["TopicTitle"] = $" - {Model.Entity.Title}";
    ViewData["TopicTab"] = "Planning";

    Layout = "_TopicLayout";
}
<div class="card-body">
    <div class="form-group">
        <label>Lesson Plan</label>
        <div class="form-control-view">
            <markdown content="Entity.LessonPlan"></markdown>
        </div>
    </div>

    <div class="row mt-3"
         authorize-policy="@UserPolicies.InstructorPolicy">
        <div class="col">
            <a id="edit-button"
               asp-page="/topic/planning/edit"
               asp-route-tenant="@Model.TenantRoute"
               asp-route-id="@Model.Id"
               class="btn btn-primary">
                Edit
            </a>

            <button type="button"
                    class="btn btn-secondary dropdown-toggle"
                    id="actionDropdown"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu"
                 aria-labelledby="actionDropdown">
                <a asp-page="/Topic/Messaging/Introduction"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Send Introduction"
                   class="dropdown-item">
                    Send Introduction
                </a>
                <a asp-page="/Topic/Messaging/PlanUpdate"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   title="Request Plan Update"
                   class="dropdown-item">
                    Request Plan Update
                </a>
            </div>

        </div>
    </div>
</div>