@page "/user/change-tenant"
@using Humanizer
@model InstructorIQ.WebApplication.Pages.User.TenantModel
@{
    ViewData["Title"] = "Change Tenant";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">Home</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Change Tenant</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <form id="tenant-search-form"
                  name="tenant-search-form"
                  role="form"
                  method="get">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fas fa-building mr-2"
                           aria-hidden="true"></i> Tenants
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm mr-2">
                            <input type="hidden"
                                   name="s"
                                   value="@Model.Sort" />
                            <input type="text"
                                   name="q"
                                   value="@Model.Query"
                                   class="form-control"
                                   placeholder="Search" />
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary"
                                        type="submit">
                                    <i class="fas fa-search"
                                       aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <form id="change-tenant-form"
              name="change-tenant-form"
              role="form"
              method="post">

            <div class="list-group list-group-flush">
                @foreach (var item in Model.Items)
                {
                <button type="submit"
                        asp-route-tenantId="@item.Id"
                        asp-page-handler="ChangeTenant"
                        class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Name</h5>
                        <small title="Updated on @item.Updated.ToString()">@item.Updated.ToLocalTime().Humanize()</small>
                    </div>
                    <p class="mb-1">
                        @item.Description.Truncate(100)
                    </p>
                    <small class="d-block">
                        <i class="fas fa-external-link-alt"></i> @item.Slug
                    </small>
                </button>
                }
            </div>

            <div class="card-footer p-0">
                <div class="row">
                    <div class="col text-center">
                        <pagination current-page="@Model.PageNumber"
                                    page-size="@Model.PageSize"
                                    total-items="@Model.Total"
                                    asp-route-z="@Model.PageSize"
                                    asp-route-s="@Model.Sort"
                                    asp-route-q="@Model.Query"
                                    class="justify-content-md-end m-3" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

