@page "/member/{id}/edit"
@model InstructorIQ.WebApplication.Pages.Member.EditModel
@{
    ViewData["Title"] = $"Edit {Model.Entity.DisplayName}";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/member/index"
                   asp-route-tenant="@Model.TenantRoute">Members</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Edit Member</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-user mr-2"
               aria-hidden="true"></i> Member
        </div>
        <div class="card-body">
            <form id="member-form"
                  name="member-form"
                  role="form"
                  method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label asp-for="Entity.DisplayName">Display Name <required /></label>
                        <input asp-for="Entity.DisplayName"
                               type="text"
                               class="form-control"
                               placeholder="Display Name">
                        <span asp-validation-for="Entity.DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.SortName">Sort Name</label>
                        <input asp-for="Entity.SortName"
                               type="text"
                               class="form-control"
                               placeholder="Sort Name">
                        <span asp-validation-for="Entity.SortName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.GivenName">First Name </label>
                        <input asp-for="Entity.GivenName"
                               type="text"
                               class="form-control"
                               placeholder="First Name" />
                        <span asp-validation-for="Entity.GivenName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.FamilyName">Last Name </label>
                        <input asp-for="Entity.FamilyName"
                               type="text"
                               class="form-control"
                               placeholder="Last Name" />
                        <span asp-validation-for="Entity.FamilyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.JobTitle">Job Title </label>
                    <input asp-for="Entity.JobTitle"
                           type="text"
                           class="form-control"
                           placeholder="Job Title" />
                    <span asp-validation-for="Entity.JobTitle" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Entity.Email">Email Address <required /></label>
                    <input asp-for="Entity.Email"
                           type="email"
                           class="form-control"
                           placeholder="Email Address">
                    <span asp-validation-for="Entity.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.PhoneNumber">Phone Number</label>
                    <input asp-for="Entity.PhoneNumber"
                           class="form-control"
                           placeholder="Phone Number" />
                    <span asp-validation-for="Entity.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="IsMemberDisabled">
                    <label class="custom-control-label" for="@Html.IdFor(p => p.IsMemberDisabled)">Member Disabled</label>
                </div>

                <fieldset class="border p-2">
                    <legend class="w-auto pr-2 pl-2">Roles</legend>
                    <input type="hidden"
                           asp-for="Membership.TenantId" />
                    <input type="hidden"
                           asp-for="Membership.UserName" />

                    <div class="custom-control custom-checkbox">
                        <input asp-for="Membership.IsMember"
                               type="checkbox"
                               class="custom-control-input">
                        <label asp-for="Membership.IsMember"
                               class="custom-control-label">Member</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input asp-for="Membership.IsAttendee"
                               type="checkbox"
                               class="custom-control-input">
                        <label asp-for="Membership.IsAttendee"
                               class="custom-control-label">Attendee</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input asp-for="Membership.IsInstructor"
                               type="checkbox"
                               class="custom-control-input">
                        <label asp-for="Membership.IsInstructor"
                               class="custom-control-label">Instructor</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input asp-for="Membership.IsAdministrator"
                               type="checkbox"
                               class="custom-control-input">
                        <label asp-for="Membership.IsAdministrator"
                               class="custom-control-label">Administrator</label>
                    </div>

                </fieldset>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <button id="save-button"
                                type="submit"
                                class="btn btn-primary"
                                data-loading-text="<span class='spinner-border spinner-border-sm'></span> Saving...">
                            Save
                        </button>
                        <a id="cancel-button"
                           asp-page="/member/index"
                           asp-route-tenant="@Model.TenantRoute"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                    <div class="col-md-6">
                        <confirm-button id="invite-button"
                                        class="btn btn-secondary fa-pull-right"
                                        asp-page-handler="SendInvite"
                                        modal-button="Invite"
                                        modal-color="primary"
                                        modal-text="Are you sure you want to send member an invite email?">
                            Invite
                        </confirm-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#member-form")
                .submitGuard()
                .dirty({
                    preventLeaving: true
                });
        });
    </script>
}
