@page "/member/invite"
@model InstructorIQ.WebApplication.Pages.Member.InviteModel
@{
    ViewData["Title"] = "Invite Member";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/member/index"
                   asp-route-tenant="@Model.TenantRoute">Members</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Invite Member</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-user mr-2"
               aria-hidden="true"></i> Invite Member
        </div>
        <div class="card-body">
            <form id="member-form"
                  name="member-form"
                  role="form"
                  method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.DisplayName">Display Name <required /></label>
                    <input asp-for="Input.DisplayName"
                           type="text"
                           class="form-control"
                           placeholder="Display Name">
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Email">Email Address <required /></label>
                    <input asp-for="Input.Email"
                           type="email"
                           class="form-control"
                           placeholder="Email Address">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button id="send-button"
                                type="submit"
                                class="btn btn-primary"
                                data-loading-text="<span class='spinner-border spinner-border-sm'></span> Sending...">
                            Send Invite
                        </button>
                        <a id="cancel-button"
                           asp-page="/member/index"
                           asp-route-tenant="@Model.TenantRoute"
                           class="btn btn-secondary">
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#member-form")
                .submitGuard()
                .dirty({
                    preventLeaving: true
                });
        });
    </script>
}