@page "/attendance/user"
@using InstructorIQ.Core.Services
@model UserModel
@{
    ViewData["Title"] = "Attendance by User";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index"
                   asp-route-tenant="@Model.TenantRoute">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Attendance/Index"
                   asp-route-tenant="@Model.TenantRoute">Attendance</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">By User</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />


    <div class="card mb-5">
        <div class="card-header">
            <form id="topic-search-form"
                  name="topic-search-form"
                  role="form"
                  method="get">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <i class="fas fa-book-open mr-2"
                           aria-hidden="true"></i> Attendance
                    </div>
                    <div class="col-md-2">
                        <select asp-for="UserName"
                                asp-items="Model.Members"
                                class="custom-select custom-select-sm"
                                onchange="this.form.submit()">
                            <option value=""> - All Users -</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select asp-for="Month"
                                asp-items="SelectItemFactory.Months()"
                                class="custom-select custom-select-sm"
                                onchange="this.form.submit()">
                            <option value="0"> - Month -</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select asp-for="Year"
                                asp-items="SelectItemFactory.Years()"
                                class="custom-select custom-select-sm"
                                onchange="this.form.submit()"></select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <input type="text"
                                   name="q"
                                   value="@Model.Query"
                                   class="form-control"
                                   placeholder="Search" />
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary"
                                        type="submit">
                                    <i class="fas fa-search"
                                       aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="card-body m-0 p-0">
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <colgroup>
                        <col style="" />
                        <col style="" />
                        <col style="width: 50px" />
                    </colgroup>
                    <tbody>
                        @foreach (var grouping in Model.Items.GroupBy(g => g.AttendeeEmail))
                        {
                            var sortedGroups = grouping
                                .OrderBy(i => i.StartDate)
                                .ThenBy(i => i.StartTime)
                                .ThenBy(i => i.GroupName)
                                .ToList();

                            var first = sortedGroups.First();

                            <tr class="table-primary font-weight-bold">
                                <td title="Attendee Name">
                                    @first.AttendeeName
                                </td>
                                <td title="Attendee Email">
                                    @first.AttendeeEmail
                                </td>
                                <td title="Attendance Count">
                                    @sortedGroups.Count
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="p-0 pl-4">
                                    <table class="table table-bordered table-striped table-sm m-0">
                                        <colgroup>
                                            <col style="" />
                                            <col style="" />
                                            <col style="width: 120px" />
                                            <col style="width: 140px" />
                                            <col style="width: 180px" />
                                            <col style="width: 120px" />
                                        </colgroup>
                                        <thead>
                                            <tr class="table-secondary">
                                                <th>Title</th>
                                                <th>Location</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Signed</th>
                                                <th>Signature</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var a in sortedGroups)
                                            {
                                                <tr>
                                                    <td>
                                                        @a.TopicTitle - @a.GroupName
                                                    </td>
                                                    <td>
                                                        @a.LocationName
                                                    </td>
                                                    <td>
                                                        @a.StartDate?.ToShortDateString()
                                                    </td>
                                                    <td>
                                                        @a.StartTime?.ToString(@"hh\:mm")@(a.EndTime.HasValue ? " - " : " ")@a.EndTime?.ToString(@"hh\:mm")
                                                    </td>
                                                    <td>
                                                        @a.Attended.ToLocalTime().ToString("MM/dd/yyyy HH:mm")
                                                    </td>
                                                    <td>
                                                        <a asp-page="/attendance/signed"
                                                           asp-route-tenant="@Model.TenantRoute"
                                                           asp-route-sessionId="@a.SessionId"
                                                           asp-route-id="@a.Id"
                                                           asp-route-route="user"
                                                           title="View Signature">view</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                        @if (Model.Items.Count == 0)
                        {
                            <tr>
                                <td colspan="5" class="p-4">No records found</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
