@page "/global/users"
@model InstructorIQ.WebApplication.Pages.Global.User.IndexModel
@{
    ViewData["Title"] = "Users";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">Home</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Users</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <form id="member-search-form"
                  name="member-search-form"
                  role="form"
                  method="get">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="fas fa-user mr-2"
                           aria-hidden="true"></i> Users
                    </div>
                    <div class="col-sm-8">
                        <div class="input-group input-group-sm mr-2">
                            <input type="text"
                                   name="q"
                                   value="@Model.Query"
                                   class="form-control"
                                   placeholder="Search" />
                            <div class="input-group-append">
                                <button class="btn btn-sm btn-outline-secondary"
                                        type="submit">
                                    <i class="fas fa-search"
                                       aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="list-group list-group-flush">
            @foreach (var item in Model.Users)
            {
            <a asp-page="/global/user/edit"
               asp-route-id="@item.Id"
               title="Edit @item.DisplayName"
               class="list-group-item list-group-item-action">
                <h5 class="mb-1">@item.DisplayName</h5>
                <small class="d-block d-md-inline mr-2 mb-1" 
                       exclude-if="@string.IsNullOrEmpty(item.JobTitle)">
                    <i class="fas fa-id-badge"
                       style="width: 14px;"></i>
                    @item.JobTitle
                </small>
                <small class="d-block d-md-inline mr-2 mb-1"
                       exclude-if="@string.IsNullOrEmpty(item.Email)">
                    <i class="fas fa-envelope"
                       style="width: 14px;"></i>
                    @item.Email
                </small>
                <small class="d-block d-md-inline mr-2 mb-1"
                       exclude-if="@string.IsNullOrEmpty(item.PhoneNumber)">
                    <i class="fas fa-phone"
                       style="width: 14px;"></i>
                    @item.PhoneNumber
                </small>
            </a>
            }
        </div>

        <div class="card-footer p-0">
            <div class="row">
                <div class="col-md-6">
                    <a asp-page="/global/user/create"
                       title="Add New User"
                       class="btn btn-primary m-3">Add User</a>
                </div>
                <div class="col-md-6">
                    <pagination current-page="@Model.PageNumber"
                                page-size="@Model.PageSize"
                                total-items="@Model.Total"
                                asp-route-z="@Model.PageSize"
                                asp-route-q="@Model.Query"
                                class="justify-content-md-end m-3" />
                </div>
            </div>
        </div>
    </div>
</div>

